### use # to comment out the configure item

### I/O ###
train_dir=sample_data/eng.bioes.train
dev_dir=sample_data/origin_data/eng.bioes.dev
test_dir=sample_data/origin_data/eng.bioes.test
model_dir=result/lstmcrf
result_dir=scores/
word_emb_dir=sample_data/eng.glove
label_emb_dir=sample_data/eng.label

norm_word_emb=False
norm_char_emb=False
number_normalized=True
seg=True
word_emb_dim=100
char_emb_dim=32

###NetworkConfiguration###
use_crf=True
use_char=True
word_seq_feature=LSTM
global_feature_extractor=LSTM
char_seq_feature=IntNet

###TrainingSetting###
status=train
optimizer=SGD
iteration=70
batch_size=10
ave_batch_loss=False

###Hyperparameters###
cnn_layer=4
intNet_layer=7
intNet_kernel_type=2
char_hidden_dim=16
hidden_dim=256
global_hidden_dim=128
mem_bank_alpha=0.3
mem_bank_dropout=0.2
dropout=0.5
rnn_dropout=0.5
lstm_layer=1
bilstm=True
learning_rate=0.015
lr_decay=0.05
momentum=0
l2=1e-8
#clip=5
